.contacto-contenedor {
    margin: 0 auto;
    margin-bottom: 15px;
}

h1{
    color:#ffe600;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1630be;
    color: white;
    text-align: left;
    margin-bottom: 0px;
    padding: 20px;
    font-family: Calibri;
}

.log{
    display: flex;
}

.logo {
    width: 100px;
}

.texto {
    margin-top: 0;
    font-size: 20px;
}

.opciones ul {
    list-style: none;
    padding: 0;
}

.opciones li {
    display: inline;
    margin: 0 10px;
}

.cuerpo {
    padding: 0;
    margin-left: 25%;
    margin-right: 25%;
}

.contacto-info {
    margin-bottom: 20px;
}

.contacto-info h1 {
    font-size: 28px;
}

.contacto-info p {
    margin: 10px 0;
}

.contacto-info a {
    color: #007bff;
    text-decoration: none;
}

.contacto-info a:hover {
    text-decoration: underline;
}

.mapa-contenedor {
    margin-top: 20px;
    border: 3px solid #1630be;
    border-radius: 8px;
}

.mapa-contenedor h2 {
    margin-bottom: 10px;
    padding: 2px;
    font-size: 20px;
}

.mapa-contenedor iframe {
    width: 100%;
    border: none;
}

@media (max-width: 768px) {
    .cabecera {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .logo {
        width: 100px;
        margin-bottom: 10px;
    }

    .texto h3 {
        font-size: 20px;
    }

    .texto p {
        font-size: 16px;
    }

    .contacto-info h1 {
        font-size: 24px;
    }

    .cuerpo {
        margin-left: 10%;
        margin-right: 10%;
    }

    .mapa-contenedor iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .cabecera {
        padding: 10px;
    }

    .logo {
        width: 100px;
    }

    .texto h3 {
        font-size: 18px;
    }

    .texto p {
        font-size: 14px;
    }

    .contacto-info h1 {
        font-size: 20px;
    }

    .cuerpo {
        margin-left: 5%;
        margin-right: 5%;
    }

    .mapa-contenedor iframe {
        height: 250px;
    }
}
