
footer {
    background-color: #1630be;
    color: white;
    padding: 10px 0;
  }
  
footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  

  footer ul li h4 {
    font-size: 15px;
  }
  
  footer ul li p a {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  
  footer ul li p a:hover {
    color: rgb(236, 128, 128);
  }

  .img2{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
  .derechos{
    text-align: center;
  }