.menu_inicio
{
  background-color: #1630be;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.presentacion
{
  display: flex;
  align-items: center;

}

.presentacion p
{
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.presentacion  img
{
  width: 110px;
  height: 110px;
  margin: 10px;
  margin-left: 20px;
}

.opciones
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.opciones ul
{
  list-style: none;
}

.opciones ul li
{
  display: inline;
}

.opciones ul li a
{
  color: white;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}

.opciones ul li a:hover
{
  background-color: black;
  
  font-weight: bold;
}
